.span-custom {
    background-color: chartreuse;
}

.bg-pink {
    background-color: #ff69b4; /* Hot Pink, por exemplo */
}

.bg-pink {
    background-color: #ff69b4; /* Hot Pink, por exemplo */
}

.bg-royalblue {
    background-color: #4169E1;
}